* {
    margin: 0; 
    box-sizing: border-box;
}

body{
    background-color: black;
}
header{
    margin-bottom: 35px;
    border-bottom: 1px  solid orange;
    height: 130px;
    
}

h1 {

    font-size: 50px;
    margin-bottom: 25px;
    /*font-family:  'Righteous', cursive;*/
    font-family: 'Miriam Libre', sans-serif;
    color: white;

}


header h2 {
    float: left; 
    display: block;
    width: auto;
    margin-left: 105px;
    font-size: 20px;
    font-family: 'Miriam Libre', sans-serif;
    font-weight: normal;



}

.miembro{
    font-family: 'Miriam Libre', sans-serif;
    float: left;
    width: 35%;
    margin-left: 10%;
    margin-top: 30px;
    border: 2px solid white;
    text-align: center;
}

p1, p2{
    color:white;
    float:left;
    width: 35%;
    margin-left: 10%;
    text-align: center;
    margin-top: 5px;
    font-family: 'Miriam Libre', sans-serif;
}


#nosotros {
    margin-left: 15px;
}

a, a:visited{
    color: white;
    text-decoration: none;
}


a:hover{
     color: orange;
     
}

#inicio{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-family: 'Miriam Libre', sans-serif;
}

form{
    position: absolute;
    top: 35%;
    left: 30%;
   /* border: 2px solid white;*/
    width:50%;
}

p4{
    margin-left: 33%;
    margin-bottom: 30px;
    color:white;
    font-family: 'Miriam Libre', sans-serif;
    left: 25%;

}

p{
    color: white;
    font-family: 'Miriam Libre', sans-serif;
    margin-left:20%;


}

h2{
    color:orange;
    font-family: 'Miriam Libre', sans-serif;
    margin-left: 5px;
    font-size: 35px;
    text-align: center;
    

}

#aclaracion{
    margin-bottom: 25px;
    text-align: center;
}


#genero{
    margin-left: 88px;
}

#edad {
    margin-left: 106px;
}

#consulta{
    margin-left: 16px;
}

#email{
    margin-left: 5px;
}

textarea{
    height: 150px;
    width: 313px;

}

select{
    width: 164px;
}
#submit{
    margin-left: 69%;
}

