* {
    margin: 0; 
    box-sizing: border-box;
}
header{
    margin-bottom: 35px;
    border-bottom: 1px  solid orange;
    height: 130px;
    
}

#andromeda {

    font-size: 50px;
    margin-bottom: 25px;
    font-family:  'Righteous', cursive;;
}


header h2 {
    float: left; 
    display: block;
    width: auto;
    margin-left: 105px;
    font-size: 25px;

}

#nosotros {
    margin-left: 15px;
}

a, a:visited{
    color: black;
    text-decoration: none;
}

a:hover {
     color: orange;
}