*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: black;
	color:white;
	font-family: 'Bangers', cursive;

}

h1{
	font-size: 100px;
	text-align: center;
	-webkit-text-stroke: 1px red;

}

h3{
	font-size: 50px;
	text-align: center;
	margin-bottom: 100px;

}

h2{
	font-size: 40px;
	margin-bottom: 30px;

}

p{
	font-size: 30px;
	margin-bottom: 40px;
	text-align: justify;
	-webkit-text-stroke: 1px red;
	
}


#contenedor{
	margin:auto;
	width: 700px;
	border: 3px solid white;
	padding: 25px;
	align-content: center;
}


#name{
	color:black;
}